name: Make test Linux

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  make_test_linux:
    runs-on: ubuntu-latest

    name: make_test_linux
    steps:
      - uses: actions/checkout@v2

      - name: Run make test on Linux
        run: make test
